			<div class="body">
				<div id="content">
					<div>
						{{#with recipes}}
						<div>
							<h3>{{title}}</h3>
							<p>{{{description}}}</p>
							<a href="index.html"><img src="{{bigImagePath}}" alt="Image"></a>
							<h5>INGREDIENTS</h5>
							<ol class="ingredients">
								{{#each Ingredients}}
								<li>
									{{quantity}}{{title}}
								</li>
								{{/each}}
							</ol>
							<h5>DIRECTIONS</h5>
							<ol class="directions">
								{{#each Directions}}
								<li>
									{{description}}
								</li>
								{{/each}}
							</ol>
						</div>
						{{/with}}
					</div>
				</div>
			</div>